<!-- Editable table -->
<div class="table-responsive">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Customer Profile</h3>
  <div class="card-body">
    <form #profileFroms ="ngForm" ng-model="somefield" (submit)="Add(profileFroms.value)">
      <div class="row">
        <div class="col">
          <small>ID</small>
          <input ngModel name="id" type="text" class="form-control" placeholder="ID">
        </div>
        <div class="col">
          <small>First name</small>
          <input ngModel name="firstName" type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <small>Last name</small>
          <input ngModel name="lastName" type="text" class="form-control" placeholder="Last name">
        </div>
        <div class="col">
          <small>Age</small>
          <input ngModel name="age" type="text" class="form-control" placeholder="Age">
        </div> 
      </div>
      <div class="row">
        <div class="col">
          <small>Career</small>
          <input ngModel name="career" type="text" class="form-control" placeholder="Career">
        </div>
        <div class="col">
          <small>Company Name</small>
          <input ngModel name="companyName" type="text" class="form-control" placeholder="Company Name">
        </div>
        <div class="col">
          <small>Phone Number</small>
          <input ngModel name="phoneNo" type="text" class="form-control" placeholder="Phone Number">
        </div>
      </div>
      <span class="table-add float-right mb-3 mr-2">
        <button type="submit" mdbBtn color="danger" rounded="true" size="sm" class="btn btn-success btn-rounded btn-sm my-0" >Add</button>
      </span>
    </form>

    <span class="table-add float-right mb-3 mr-2">
      <button mdbBtn color="danger" rounded="true" size="sm" class="btn btn-success btn-rounded btn-sm my-0"(click)="profileFroms.reset({})">Clear</button>
    </span>
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Age</th>
            <th class="text-center">Career</th>
            <th class="text-center">Company Name</th>
            <th class="text-center">Phone Number</th>
            <th class="text-center">Remove</th>
            <th class="text-center">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of personList; let id = index">
            <td>
              <span contenteditable=true (keyup)="changeValue(id, 'firstName', $event)" (blur)="updateList(id, 'firstName', $event)" >{{person.firstName}}</span>
            </td>
            <td>
              <span contenteditable=true (keyup)="changeValue(id, 'lastName', $event)" (blur)="updateList(id, 'lastName', $event)">{{person.lastName}}</span>
            </td>
            <td>
              <span contenteditable=true (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
            </td>
            <td>
              <span contenteditable=true (keyup)="changeValue(id, 'career', $event)" (blur)="updateList(id, 'career', $event)">{{person.career}}</span>
            </td>
            <td>
              <span contenteditable=true (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
            </td>
            <td>
              <span contenteditable=true (keyup)="changeValue(id, 'phoneNo', $event)" (blur)="updateList(id, 'phoneNo', $event)">{{person.phoneNo}}</span>
            </td>
            <td>
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="btn btn-danger btn-rounded btn-sm my-0" (click)="remove(id)">Remove</button>
              </span>
            </td>
            <td>
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="btn btn-info btn-rounded btn-sm my-0" (click)="edit(id)" id ="edit">EDIT</button>
              </span>
            </td>          
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

<script>
  document.getElementById("edit").innerHTML ;
  var editableElements = document.querySelectorAll("[contenteditable=false]");
  for (var i = 0; i < editableElements.length; ++i) {
      editableElements[i].setAttribute("contentEditable", false);
}
</script> 





